*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    font-size: 1;
    outline: none;
}

html {
    //this defines what 1 rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
    display: none;
}
