$default-font-size: 1.6rem;

// colors
$theme-bg-color: rgba(16 18 27 / 40%);
$theme-bg-color-dark: rgba(16 18 27 / 90%);
$border-color: rgba(113 119 144 / 25%);
$theme-color: #f9fafb;
$theme-text-color: #14162b;

$inactive-color: rgb(113 119 144 / 78%);
$body-font: "Poppins", sans-serif;
$hover-menu-bg: rgba(12 15 25 / 30%);
$content-title-color: #d7daed;
$content-bg: rgb(146 151 179 / 13%);
$button-inactive: rgb(249 250 251 / 55%);
$dropdown-bg: #21242d;
$dropdown-hover: rgb(42 46 60);
$popup-bg: rgb(22 25 37);
$search-bg: #14162b;
$overlay-bg: rgba(36, 39, 59, 0.3);
$scrollbar-bg: rgb(1 2 3 / 40%);

$color-success: #5fcf65;
$color-critical: #f96057;
$color-interactive: #3a6df0;
