.btn {
    padding: 1rem 2rem;
    width: max-content;
    border-radius: 1.2rem;

    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transition: 100ms ease-in-out;

    &--critical {
        background-color: $color-critical;
        &:hover {
            box-shadow: 1px 1px 10px $color-critical;
        }
    }

    &--interactive {
        background-color: $color-interactive;
        &:hover {
            box-shadow: 1px 1px 20px $color-interactive;
        }
    }
    &--success {
        background-color: $color-success;
        &:hover {
            box-shadow: 1px 1px 20px $color-success;
        }
    }
}
