.stations-container {
    display: flex;
    font-weight: 500;
    gap: 3rem;
    width: 100%;
    .stations-form {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: max-content;
        background-color: var(--content-bg);
        padding: 20px;
        margin: 0;
        border-radius: 14px;
        border: 1px solid var(--theme-bg-color);
        cursor: pointer;

        .input-container {
            display: flex;
            flex-direction: column;
            padding: 10px 0;
            color: white;
        }
        label {
            margin-bottom: 5px;
            font-size: 12px;
        }
        input,
        select {
            padding: 10px;
            background: rgba(255, 255, 255, 0.1);
            border: none;
            border-radius: 10px;
            color: whitesmoke;
            font-size: 14px;
        }
        .action-btn {
            padding: 10px;
            width: 100%;
            display: inline;
            width: max-content;
            border-radius: 14px;
            background-color: #3a6df0;
            border: none;
            color: white;
            cursor: pointer;
            font-size: 14px;
            text-align: center;

            &:hover {
                box-shadow: 1px 1px 20px #3a6df0;
            }
        }
    }
}

.station-cards {
    @include hideScrollbar;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: scroll;
    height: 65vh;
    background-color: $content-bg;
    padding-left: 0;
    margin: 0;
    border-radius: 14px;
    border: 1px solid $theme-bg-color;
    cursor: pointer;

    &__title {
        padding: 1rem 2rem;
        font-size: 1.8rem;
    }
    &__subtitle {
        font-size: 1.2rem;
        padding: 0.6rem 2rem;
    }

    .station-card {
        padding: 10px 18px;
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        width: 100%;
        white-space: nowrap;
        transition: 0.3s;
        &:hover {
            transform: scale(1.02);
            background-color: var(--theme-bg-color);
        }

        &--name {
            font-size: 1.4rem;
            font-weight: 400;
        }
    }
}
