body {
    background-image: url("./assets/bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

@media screen and (max-width: 480px) {
    body {
        padding: 0.8em;
    }
}

.app {
    background-color: $theme-bg-color;
    max-width: 125rem;
    min-width: 125rem;
    max-height: 86rem;
    height: 90vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 1.4rem;
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);
    font-size: 1.5rem;
    font-weight: 500;
}

.header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 6rem;
    width: 100%;
    border-bottom: 1px solid $border-color;
    padding: 0 3rem;
    white-space: nowrap;

    &--menu-circle {
        width: 15px;
        height: 15px;
        background-color: #f96057;
        border-radius: 50%;
        box-shadow: 24px 0 0 0 #f8ce52, 48px 0 0 0 #5fcf65;
        margin-right: 195px;
        flex-shrink: 0;

        @media screen and (max-width: 945px) {
            & {
                display: none;
            }
        }
    }

    &--profile {
        display: flex;
        align-items: center;
        padding: 0 1.6rem 0 4rem;
        margin-left: auto;
        flex-shrink: 0;

        & svg {
            width: 2.2rem;
            color: #f9fafb;
            flex-shrink: 0;
            stroke-width: 0.1rem;
            stroke: $theme-color;
            transition: 300ms ease;
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
                stroke-width: 0.2rem;
                stroke: $color-critical;
            }
        }

        &-img {
            width: 3.2rem;
            height: 3.2rem;
            border-radius: 50%;
            -o-object-fit: cover;
            object-fit: cover;
            border: 0.2rem solid $theme-color;
            margin-left: 2.2rem;
        }
    }
}

.wrapper {
    display: flex;
    flex-grow: 1;
    overflow: hidden;

    &--main-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}

.left-sidebar {
    @include hideScrollbar;
    flex-basis: 24rem;
    border-right: 1px solid $border-color;
    padding: 2.6rem;
    overflow: auto;
    flex-shrink: 0;

    @media screen and (max-width: 945px) {
        & {
            display: none;
        }
    }

    &--wrapper + &--wrapper {
        margin-top: 2rem;
    }
    &--wrapper-title {
        color: $inactive-color;
        margin-bottom: 1.4rem;
    }

    &--menu {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        &-routerlink {
            text-decoration: none;
            color: var(--theme-color);
            display: flex;
            align-items: center;
            font-weight: 400;
            padding: 10px;
            font-size: 14px;
            border-radius: 6px;
            transition: 0.3s;

            &:hover {
                background-color: $hover-menu-bg;
            }

            & svg {
                width: 1.6rem;
                margin-right: 0.8rem;
            }
        }
    }
}
